<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<plist>

  <dict>
    <key>CFBundleName</key>
    <string>Console_Log</string>
    <key>CFBundleDisplayName</key>
    <string>Console_Log</string>
    <key>CFBundleShortVersionString</key>
    <string/>
    <key>NSHumanReadableCopyright</key>
    <string/>
    <key>CFBundleVersion</key>
    <string/>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
  </dict>

</plist>
